.btn {
    display: inline-block;
    padding: 12px 40px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: var(--secondary-color-dark);
    /* box-shadow: 0 2px 20px #ccc; */
    /* opacity: 0.9; */
}

.btn.fa {
    font-size: 26px;
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: 36px;
    border-radius: 100%;
}